<!doctype html>
<html ng-app="targetApp">
<head>
    <title>Список дел на сегодня</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body ng-controller="targetController">
    <div class="page-header">
        <h1> Список дел на сегодня</h1>
    </div>
    <div class="panel">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-8">
                    <input class="form-control" ng-model="target" placeholder="Цель" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <input type="number" class="form-control" ng-model="priority" placeholder="Приоритет" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <button class="btn btn-default" ng-click="addItem(target, priority)">Добавить</button>
                </div>
                <div class="col-md-offset-2 col-md-4">
                    <button class="btn btn-default" ng-click="save()">Сохранить</button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Цель</th>
                    <th>Приоритет</th>
                    <th>Сделано</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list.items">
                    <td>{{item.target}}</td>
                    <td>{{item.priority}}</td>
                    <td><input type="checkbox" ng-model="item.done" /></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script>
        var model = {
            items: [
                { target: "Попробовать angular.js", priority: 1, done: false },
                { target: "Съесть бизнес-ланч", priority: 2, done: true }
            ]
        };
        var targetApp = angular.module("targetApp", []);
        targetApp.controller("targetController", function ($scope, $http) {
            $scope.list = model;
            $scope.addItem = function (target, priority) {
                $scope.list.items.push({ target: target, priority: priority, done: false });
            };
            
            $scope.save = function () {
                var d = JSON.stringify($scope.list.items);
                //$http.post("/DayActivity/Index", { msg: 'hello word!' });
                $http({
                    method: 'POST',
                    url: '/DayActivity/Index',
                    data: d,
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                })
            };
            

            // FormCollection

        });
    </script>
</body>
</html>