@{
    ViewBag.Title = "Добавление новой затрататы";
}

@model WeddingJule.Models.Expense

<h2>Добавление новой затраты</h2>

<form method="post">
    <fieldset>
        <legend>Затрата</legend>
        <p>
            Введите наименование траты: <br />
            @Html.EditorFor(model => model.name)
        </p>
        <p>
            Введите стоимость: <br />
            @Html.EditorFor(model => model.price)
        </p>
        <p>
            Введите дату: <br />
            @Html.EditorFor(model => model.date)
        </p>
        <p>
            Выберите категорию траты: <br />
            @Html.DropDownListFor(model => model.CategoryId, ViewBag.categories as SelectList)
        </p>        
        <input type="submit" value="Добавить затрату"/>
    </fieldset>
</form>
