<div id="calendar_basic" style="width: 950px; height: 200px;"></div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1.1", { packages: ["calendar"] });
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'date', id: 'Date' });
        dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
        // A column for custom tooltip content
        dataTable.addColumn({ type: 'string', role: 'tooltip' });


        // Получаем данные
        $.getJSON('GetData', function (data) {
            // Проходим по всем данным и устанавливаем для них маркеры
            $.each(data, function (i, item) {
                var milli = item.date.replace(/\/Date\((-?\d+)\)\//, '$1');
                var d = new Date(parseInt(milli));

                var price = item.price;

                var info = item.info;

                dataTable.addRow([d, price, info]);
            });

            var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

            var options = {
                tooltip: { isHtml: true },
                title: "Распределение трат по дням"
            };

            chart.draw(dataTable, options);
        });
    };
</script>


