@model WeddingJule.Controllers.CategoryDetailsViewModel

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Категория</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">            
            <dt>Кол-во трат</dt>
            <dd>@Html.DisplayFor(m=>m.count)</dd>

            <dt>Стоимость</dt>
            <dd>@Html.DisplayFor(m=>m.price)</dd>
        </dl>
    </div>
</div>
