
body {font-family: 'Times New Roman'; font-size:medium; background-color:ivory; color:black }
DIV#total{background-color:black; color:white; font-family:'Times New Roman'; font-weight:700}

.center
{
    text-align: center;
    background-color: cornflowerblue;
    color:white;
    border-width:medium;
    border-color:black
}
