
body {font-family: 'Times New Roman'; font-size:large; background-color:ivory; color:black; margin-left:10px; margin-right:10px; }
DIV#total{background-color:black; color:white; font-family:'Times New Roman'; font-weight:700}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid green;
}

th {
    height: 50px;
    text-align: center;
    background-color: green;
    color: white;
}

td {
    height: 20px;
    vertical-align: central;
    padding: 15px;
}

td.narrow{
 width: 50px;   
}

td.narrow{
 width: 50px;   
}

.field-validation-error {
    color: #6699CC;
    font-weight:bold;
    text-decoration:underline;
}
 
input.input-validation-error {
    border: 1px solid #006699;
    background-color: silver;
}

.right {
    text-align: right;
    float: right;
}