@{
    ViewBag.Title = "Затраты по месяцам";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WeddingJule.Models.MonthVM
@using WeddingJule.Helpers

<form method="get">
    <div class="form-inline">
        <label class="control-label">Категория: </label>
        @Html.DropDownListFor(model => model.categoryId, Model.Categories, new { @onchange = "this.form.submit();" })
    </div>
</form>

<div id="curve_chart"></div>

<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }">
</script>
<script type="text/javascript">
    google.setOnLoadCallback(drawChart);

    function drawChart() {

        var dataArray = [];
        var captionRow = [];
        captionRow.push('Month');

        var categories = @WeddingJule.Controllers.JavaScriptConvert.SerializeObject(Model.categories);

        categories.forEach(function(item, i, categories) {
            captionRow.push(item);
        });

        dataArray.push(captionRow);



        var months = @WeddingJule.Controllers.JavaScriptConvert.SerializeObject(Model.months);

        months.forEach(function(item, i, months) {
            var monthRow = [];
            monthRow.push(item['monthName']);

            var prices = item['prices'];
            prices.forEach(function(item2, i, prices) {
                monthRow.push(item2);
            });
            dataArray.push(monthRow);
        });

        var googleDataTable = google.visualization.arrayToDataTable(dataArray);

        var options = {
            title: 'Траты по месяцам',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(googleDataTable, options);
    }

    var h = $(window).height()* 0.65;
    $('#curve_chart').height(h);
</script>

