@{
    ViewBag.Title = "Мои места";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>

<style>
    .stationInfo {
        height: 110px;
        width: 200px;
    }
</style>

<div id="canvas" style="height: 600px; width:700px;"></div>

<!--Устанавливаем секцию scripts, которая затем будет рендериться на мастер-странице -->
<script type="text/javascript">

    $(document).ready(function () {
        GetMap();
    });

    // Функция загрузки
    function GetMap() {

        google.maps.visualRefresh = true;
        // установка основных координат
        var FinlandGulf = new google.maps.LatLng(60.175062, 24.984668);

        // Установка общих параметров отображения карты, как масштаб, центральная точка и тип карты
        var mapOptions = {
            zoom: 6,
            center: FinlandGulf,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };

        // Встраиваем гугл-карты в элемент на странице и получаем объект карты
        var map = new google.maps.Map(document.getElementById("canvas"), mapOptions);

        var marker = new google.maps.Marker({
            position: FinlandGulf,
            map: map,
            title: '  '
        });

        // Берем для маркера иконку с сайта google
        marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')

        // Получаем данные
        $.getJSON('GetData', function (data) {
            // Проходим по всем данным и устанавливаем для них маркеры
            $.each(data, function (i, item) {
                var marker = new google.maps.Marker({
                    'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                    'map': map,
                    'title': item.PlaceName
                });

                // Берем для этих маркеров синие иконки с сайта google
                marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')

                // Для каждого объекта добавляем доп. информацию, выводимую в отдельном окне
                var infowindow = new google.maps.InfoWindow({
                    content: "<div class='stationInfo'><h2>" + item.PlaceName + "</h2><div><h4>Кол-во посещений: "
                        + item.Times + "</h4></div></div>"
                });

                // обработчик нажатия на маркер объекта
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
            })
        });
    }
</script>