@{
    ViewBag.Title = "Мои места";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>

<style>
    .stationInfo {
        height: 110px;
        width: 200px;
    }
</style>

<div id="canvas"></div>
@Html.ActionLink("Добавить точку", "addMapPoint", "Map", null, new { @class = "validateDialog", data_dialog_title = "Добавить" })

<!--Устанавливаем секцию scripts, которая затем будет рендериться на мастер-странице -->
<script type="text/javascript">

    $(document).ready(function () {
        GetMap();
    });

    // Функция загрузки
    function GetMap() {

        google.maps.visualRefresh = true;
        // установка основных координат
        var palaceSquare = new google.maps.LatLng(59.938983, 30.315014);

        // Установка общих параметров отображения карты, как масштаб, центральная точка и тип карты
        var mapOptions = {
            zoom: 10,
            center: palaceSquare,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };



        // Встраиваем гугл-карты в элемент на странице и получаем объект карты
        var map = new google.maps.Map(document.getElementById("canvas"), mapOptions);

        var marker = new google.maps.Marker({
            position: palaceSquare,
            map: map,
            title: '  '
        });

        // Берем для маркера иконку с сайта google
        marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')

        // Получаем данные
        $.getJSON('GetData', function (data) {
            // Проходим по всем данным и устанавливаем для них маркеры
            $.each(data, function (i, item) {
                var marker = new google.maps.Marker({
                    'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                    'map': map,
                    'title': item.PlaceName
                });

                // Берем для этих маркеров синие иконки с сайта google
                marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')

                // Для каждого объекта добавляем доп. информацию, выводимую в отдельном окне
                var infowindow = new google.maps.InfoWindow({
                    content: "<div class='stationInfo'><h2>" + item.PlaceName + "</h2><div><h4>Кол-во посещений: "
                        + item.Times + "</h4></div></div>"
                });

                // обработчик нажатия на маркер объекта
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
            })
        });
    };


    var h = $(window).height() * 0.65;
    $('#canvas').height(h);
</script>


<script>
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        $(".validateDialog").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    resizable: false,
                    id: 'dialog',
                    modal: true,
                    width: 'auto',
                    buttons: {
                        "Сохранить": {
                            text: "Сохранить",
                            id: "okbtnid",
                            click: function () {

                                var placeName = $('#PlaceName').val();
                                var GeoLat = $('#GeoLat').val();
                                var GeoLatFloat = parseFloat(GeoLat);
                                var GeoLong = $('#GeoLong').val();
                                var GeoLongFloat = parseFloat(GeoLong);
                                var place = { Id: 1, PlaceName: placeName, Times: 1, GeoLat: GeoLatFloat, GeoLong: GeoLongFloat };
                                var placeJson = JSON.stringify(place);

                                $.ajax({
                                    url: '/map/saveMapPoint',
                                    type: 'POST',
                                    data: placeJson,
                                    contentType: "application/json;charset=utf-8",
                                    success: function () {
                                        GetMap();
                                    }
                                });

                                $(this).dialog('close');
                            }
                        }
                    }
                });
        });

        $(".close").on("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("close");
        });
    });
</script>